.container {border-radius: 5px;}


.card-block {


  overflow: auto;
    /* z-index: 1;  */
 
}


.myContent {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
   z-index: 99;

}

.sticky + .myContent {
  padding-top: 2px;
   /* z-index: 0; */
}



.mobile-only {
  display: none; /* Hide by default */
}

.desktop-only {
  display: block;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block; /* Show on mobile */
  }
  .desktop-only {
    display: none; /* Hide on mobile */
  }
}


.card-body  {
  font-family:'Calibri', sans-serif;
  padding: 0.5rem;
}


h3 {text-align: center;}

h4 {text-align: center;}


h6 {text-align: center;}

/*display: center; */

/* #mainContentOpaque {
 margin:0 auto;}

.w3-content{margin:auto;  margin-left: auto;
  margin-right: auto;
  align:center;}

.w3-section{margin-top:16px!important;margin-bottom:16px!important;}


#mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */



#myBtn {
  display: inline;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  font-size: 20px;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.0);

  color: black;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}


.mySlides {display: none;}
img {vertical-align: middle;
   }

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
	 max-width: 80%;
  position: relative;
  margin: auto;
	text-align: center;
	
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
